In [1]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv")
df['Total Checkouts'].mean()

161.98209697530748

In [2]:
df['Total Checkouts'].median()

19.0

In [ ]:
    #Schau Dir den Mittelwert und den Median der Variable Total Checkouts an. Warum sind die beiden Werte so unterschiedlich?
    Der Mittelwert gibt den Durschnitt der Ausleihen an alle Personen an.
    Der Median gibt den Wert zurück, der genau in der Mitte der numerisch sortierten Ausleihen steht.
    
    #Was ziehst Du daraus für Schlüsse für weitere statistische Analysen und Reports?
    Der Mittelwert sehr stark beeinflusst von extremen oder hahen werten wo hingegen der Medianwert relativ stabil bleibt.

In [3]:
df['Total Checkouts'].quantile(q=[0.25, 0.5, 0.75])

0.25      2.0
0.50     19.0
0.75    113.0
Name: Total Checkouts, dtype: float64

In [4]:
alpha = 0.005
df['Total Checkouts'].quantile([alpha, 1-alpha])

0.005       0.00
0.995    2827.53
Name: Total Checkouts, dtype: float64

In [5]:
alpha = 0.015
quantile = df['Total Checkouts'].quantile([alpha, 1-alpha])
print(quantile)

0.015       0.0
0.985    1757.0
Name: Total Checkouts, dtype: float64

In [9]:
df_gefiltert1 = df[(df['Total Checkouts'] <= quantile[alpha])]
df_gefiltert1

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,ADULT,0,0,20 to 24 years,P1,Park,None,None,z,email,True,2014,False,5.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,None,None,a,print,False,2016,True,NaN
3,0,ADULT,0,0,25 to 34 years,X,Main Library,None,None,z,email,True,2015,False,3.0
5,3,SENIOR,0,0,65 to 74 years,C2,Chinatown,None,None,z,email,True,2015,True,NaN
11,0,ADULT,0,0,25 to 34 years,P7,Potrero,None,None,z,email,True,2013,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423436,16,DIGITAL ACCESS CARD,0,0,10 to 19 years,P1,Park,None,None,z,email,True,2016,True,NaN
423437,1,JUVENILE,0,0,0 to 9 years,W4,Western Addition,None,None,z,email,True,2015,False,5.0
423438,0,ADULT,0,0,10 to 19 years,W4,Western Addition,None,None,z,email,True,2015,True,NaN
423439,1,JUVENILE,0,0,0 to 9 years,N4,Noe Valley/Sally Brunn,None,None,z,email,True,2015,False,8.0
423447,1,JUVENILE,0,0,0 to 9 years,E7,Eureka Valley/Harvey Milk Memorial,None,None,a,print,False,2015,False,8.0

In [11]:
df_gefiltert2 = df[(df['Total Checkouts'] >= quantile[1-alpha])]
df_gefiltert2

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
6,0,ADULT,3002,1689,25 to 34 years,P5,Portola,July,2016,p,phone,True,2004,False,9.0
32,0,ADULT,1989,3146,45 to 54 years,M6,Mission,May,2016,z,email,True,2003,False,8.0
102,0,ADULT,2630,1501,45 to 54 years,M4,Merced,July,2016,p,phone,False,2003,True,NaN
193,0,ADULT,8984,310,60 to 64 years,C2,Chinatown,July,2016,z,email,True,2003,True,NaN
212,0,ADULT,1805,261,20 to 24 years,R3,Richmond,December,2013,z,email,True,2003,False,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423377,2,YOUNG ADULT,1847,1465,10 to 19 years,E9,Excelsior,July,2016,z,email,True,2003,False,11.0
423416,2,YOUNG ADULT,2428,1280,10 to 19 years,P3,Parkside,April,2016,z,email,True,2003,False,7.0
423422,2,YOUNG ADULT,3914,359,10 to 19 years,P5,Portola,July,2016,p,phone,False,2010,False,9.0
423423,0,ADULT,2592,487,10 to 19 years,I5,Ingleside,January,2016,p,phone,False,2003,False,10.0
423441,3,SENIOR,1812,0,75 years and over,C2,Chinatown,July,2016,p,phone,False,2012,False,3.0

In [12]:
df_gefiltert3 = df[(df['Total Checkouts'] > quantile[alpha]) & (df['Total Checkouts'] < quantile[1-alpha])]
df_gefiltert3

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016,z,email,True,2010,False,4.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016,z,email,True,2003,False,2.0
7,0,ADULT,4,0,25 to 34 years,C2,Chinatown,July,2014,p,phone,True,2014,False,5.0
8,0,ADULT,20,0,25 to 34 years,S7,Sunset,June,2015,z,email,True,2011,False,7.0
9,0,ADULT,3,1,60 to 64 years,A5,Anza,June,2016,z,email,True,2013,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423442,2,YOUNG ADULT,608,364,10 to 19 years,S7,Sunset,July,2016,z,email,True,2003,False,7.0
423443,0,ADULT,291,13,10 to 19 years,P5,Portola,March,2015,p,phone,False,2009,False,9.0
423444,0,ADULT,15,11,60 to 64 years,M8,Mission Bay,July,2016,z,email,True,2016,False,6.0
423445,5,STAFF,208,58,0 to 9 years,B4,Bernal Heights,July,2016,z,email,True,2014,False,9.0
423446,0,ADULT,26,0,10 to 19 years,M6,Mission,April,2015,z,email,True,2003,False,9.0

In [ ]:
#Handelt es sich hierbei um eine gute Methode, Ausreißer zu identifizieren und zu behandeln? Welche anderen Strategien kennst Du?
Im Grunde ja, allerdings wenn zuviel oder das falsche weggeschnitten wird, weil z.B. jemand tatsächlich soviel ausgeliehen hat wie dasteht.
Z.B. bei Ausleihen auf das Benutzerkonto zugreifen und nachschauen, ob er wirklisch so viel ausgeliehen hat.