In [1]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv")
df['Age Range'].value_counts()

25 to 34 years       91083
35 to 44 years       67390
10 to 19 years       58944
45 to 54 years       52492
0 to 9 years         38242
65 to 74 years       30141
20 to 24 years       29761
55 to 59 years       21230
60 to 64 years       19800
75 years and over    14150
Name: Age Range, dtype: int64

In [2]:
df['Age Range'].value_counts(normalize=True)

25 to 34 years       0.215208
35 to 44 years       0.159227
10 to 19 years       0.139271
45 to 54 years       0.124026
0 to 9 years         0.090357
65 to 74 years       0.071216
20 to 24 years       0.070318
55 to 59 years       0.050161
60 to 64 years       0.046783
75 years and over    0.033433
Name: Age Range, dtype: float64

In [3]:
age_mode = df['Age Range'].mode()
age_mode[0]

'25 to 34 years'

In [4]:
df['Year Patron Registered'].value_counts(normalize=True)

2003    0.163555
2015    0.127409
2014    0.122570
2013    0.113948
2012    0.088311
2011    0.062655
2016    0.062081
2010    0.057436
2009    0.052679
2008    0.048455
2007    0.031383
2006    0.025448
2005    0.022832
2004    0.021240
Name: Year Patron Registered, dtype: float64

In [5]:
df['Age Range'].fillna(age_mode[0], inplace=True)
df['Age Range'].value_counts()

25 to 34 years       91298
35 to 44 years       67390
10 to 19 years       58944
45 to 54 years       52492
0 to 9 years         38242
65 to 74 years       30141
20 to 24 years       29761
55 to 59 years       21230
60 to 64 years       19800
75 years and over    14150
Name: Age Range, dtype: int64

In [7]:
df['Total Checkouts'].mean()

161.98209697530748

In [8]:
df['Total Checkouts'].median()

19.0

In [ ]:
    #Erstelle eine Häufigkeitsverteilung für die Variable 'Year Patron Registered'. Wieviel Prozent der Kunden wurden 2013 im System registriert? Wie viele in den kommenden Jahren? Was fällt Dir auf?
    2013 wurden 11,4% in dem System registriert.2014 wurden 12,3% registriert.2015 wurden 12,7% registriert und 216 haben sich nur 6 % neu registriert. Es ist zu beobachten das von 2013-2015 es einen 
    Zuwachs an Neuregistrierungen gab und es 2016 zu einem Schlagartigen sehr hohen Rückgang gab.
    
    #Wieviel Prozent der Kunden sind zwischen 25 und 34 Jahren?
Es sind 21,52% der Kunden zwischen 25 und 34 Jahren alt

   # Denkst Du, es handelt sich dabei um eine gute Methode, fehlende Werte zu ersetzen? Welche anderen Strategien fallen Dir ein?
Nein ich finde es keine gute Methode, da Suchergebnisse dadurch verfälscht werden und auch die Statistik dann nichtmehr ganz stimmt.
Ich würde diese Werte dann Rauslöschen oder zumindestens z.B. bei dem Alter eine Unbekannt Spalte anfügen.